<nav class="navbar navbar-default" ng-controller="suggestionCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Angular Weather</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input id="city" type="text" class="form-control" placeholder="Enter City" ng-model="result"
                           ng-change="GetCities(result)"
                           uib-typeahead="suggestion for suggestion in suggestionData | filter:$viewValue">
                </div>
                <button type="button" class="btn btn-default" ng-click="onClick(result)">Get Forecast</button>
            </form>
        </div>
    </div>
</nav>


